[Desktop Entry]
Name=BlockStar Desktop
NoDisplay=true
MimeType=x-scheme-handler/blockstardesktop;
TryExec=blockstardesktop
Exec=blockstardesktop %u
Icon=blockstardesktop
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=blockstardesktop
