[Desktop Entry]
Name=BlockStar Desktop
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=blockstardesktop %u
Icon=blockstardesktop
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;dart;rust;remote-control;p2p;remote-desktop;vnc;
Actions=new-window;
StartupWMClass=blockstardesktop

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=blockstardesktop %u
